p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

button {
  display: block;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "roboto", sans-serif;
  color: var(--text-color);
  background-color: var(--second-title-color);
  font-size: 14px;
  letter-spacing: 0.03em;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

:root {
  --main-title-color: #212121;
  --second-title-color: #ffffff;
  --main-btn-color: #ffffff;
  --text-color: #000000;
  --accent-color: #2196f3;
  --contacts-color: #757575;
  --second-contacts-color: rgba(255, 255, 255, 0.6);
  --main-back-color: #2f303a;
  --second-back-color: #f5f5f5;
  --third-back-color: #f5f4fa;
  --main-header-border: #ececec;
  --second-border-color: #eeeeee;
  --main-icon-color: #afb1b8;
}

.header {
  border-bottom: 1px solid var(--main-header-border);
}

.header__container {
  display: flex;
  align-items: center;
}

.header-navigation {
  display: flex;
  align-items: center;
}
.header-navigation span {
  color: var(--accent-color);
}

.navigation__logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--text-color);
  margin-right: 93px;
}

.menu {
  display: flex;
  align-items: center;
  gap: 50px;
}

.header-item {
  position: relative;
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
  position: relative;
  display: block;
  padding: 32px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-link:hover, .header-link:focus {
  color: var(--accent-color);
}
.header-link:hover::after, .header-link:focus::after {
  width: 100%;
}
.header-link::after, .header-link::after {
  content: "";
  background-color: var(--accent-color);
  width: 0;
  height: 4px;
  border-radius: 2px;
  display: block;
  bottom: 0;
  position: absolute;
  transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current {
  color: var(--accent-color);
}

.header-list-contacts {
  display: flex;
  margin-left: auto;
}

.header-item-mail {
  margin-right: 50px;
}

.header-tel-link,
.header-mail-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--contacts-color);
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-tel-link:hover, .header-tel-link:focus,
.header-mail-link:hover,
.header-mail-link:focus {
  color: var(--accent-color);
}

.header-icon {
  fill: currentColor;
  margin-right: 10px;
}

.hero {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-image.jpg);
  padding-top: 200px;
  padding-bottom: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1600px;
  height: 600px;
  margin: 0 auto;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--second-title-color);
  width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.hero-btn {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--main-btn-color);
  border: none;
  outline: none;
  margin: 0 auto;
  display: block;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 32px;
}

.about {
  padding-top: 94px;
  padding-bottom: 94px;
}

.about-list {
  display: flex;
  gap: 30px;
}

.about-item {
  width: 270px;
}

.about-item-subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-title-color);
  margin-top: 30px;
  margin-bottom: 10px;
}

.about-item-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--contacts-color);
}

.about-icon-link {
  display: flex;
  gap: 30px;
}

.about-icon-link {
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.content {
  padding-bottom: 94px;
}

.content-container {
  display: flex;
}

.content-list:not(:last-child) {
  margin-right: 30px;
}

.content-item {
  position: relative;
}

.content-top-text {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--second-title-color);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  justify-content: center;
  align-items: center;
  display: flex;
  background: rgba(47, 48, 58, 0.8);
}

.content-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
  margin-bottom: 50px;
}

.team {
  background: var(--third-back-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-list {
  display: flex;
  margin-top: 50px;
  gap: 30px;
}

.team-item {
  width: 270px;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
}

.team-container {
  background-color: var(--second-title-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
  margin-bottom: 10px;
}

.team-text-container {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--contacts-color);
  margin-bottom: 16px;
}

.team-soc-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.team-soc-item {
  width: 44px;
  height: 44px;
}

.team-soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--main-icon-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-soc-link:hover, .team-soc-link:focus {
  background-color: var(--accent-color);
  color: var(--second-title-color);
}

.team-soc-icon {
  fill: currentColor;
}

.partners {
  padding-top: 94px;
  padding-bottom: 94px;
}

.partners-title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
  margin-bottom: 50px;
}

.partners-list {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.partners-item {
  width: 170px;
  height: 92px;
}

.partners-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid currentColor;
  border-radius: 4px;
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.partners-link:hover, .partners-link:focus {
  color: var(--accent-color);
}

.partners-icon {
  fill: currentColor;
}

.contacts {
  background: var(--main-back-color);
}

.container-contacts {
  display: flex;
  gap: 70px;
  align-items: baseline;
}

.contacts span {
  color: var(--accent-color);
}

.contacts-adress {
  font-style: normal;
}

.contacts-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
  margin-bottom: 20px;
  display: inline-block;
}

.contacts-item:not(:last-child) {
  margin-bottom: 9px;
}

.contacts-map-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-map-link:hover, .contacts-map-link:focus {
  color: var(--accent-color);
}

.contacts-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-contacts-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-link:hover, .contacts-link:focus {
  color: var(--accent-color);
}

.social-title {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--second-title-color);
  margin-bottom: 20px;
}

.social-list {
  display: flex;
  gap: 10px;
}

.social-item {
  width: 44px;
  height: 44px;
}

.social-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover, .social-link:focus {
  background-color: var(--accent-color);
}
.social-link:hover .social-icon {
  fill: var(--second-title-color);
}

.social-icon {
  fill: var(--second-title-color);
}

.online {
  width: 570px;
  gap: 93px;
}

.online-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--second-title-color);
}

.online-input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  box-sizing: border-box;
  background-color: transparent;
  padding-left: 16px;
}
.online-input::-moz-placeholder {
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.online-input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.online-input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.online-btn {
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  width: 200px;
  height: 50px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  gap: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--main-btn-color);
  padding: 10px 28px;
}

.online-part {
  display: flex;
  gap: 12px;
}

.portf-about {
  padding-top: 94px;
}

.portf-about-button {
  font-family: "Roboto";
  background: var(--third-back-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
  border: none;
  outline: none;
  border-radius: 4px;
  padding: 6px 22px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portf-about-button:hover, .portf-about-button:focus {
  background-color: var(--accent-color);
  color: var(--main-btn-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portf-butten-container {
  margin-bottom: 34px;
}

.portf-about-list {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.portf-about-list {
  display: flex;
  gap: 8px;
  margin-bottom: 50px;
}

.portf-project {
  padding-bottom: 94px;
}

.portf-project-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portf-project-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portf-project-link:hover .portf-project-top, .portf-project-link:focus .portf-project-top {
  transform: translateY(0);
}
.portf-project-link:hover, .portf-project-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portf-project-item {
  width: 370px;
}

.portf-project-wrap {
  overflow: hidden;
  position: relative;
}

.portf-project-top {
  position: absolute;
  top: 0;
  text-align: left;
  display: flex;
  background: var(--accent-color);
  padding: 63px 24px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portf-project-top-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
}

.portf-project-subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-title-color);
  margin-bottom: 4px;
}

.portf-text-container {
  padding: 20px 24px;
  border: 1px solid var(--second-border-color);
}

.portf-project-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--contacts-color);
}

.backdrop {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
}

.modal {
  position: absolute;
  width: 528px;
  min-height: 581px;
  background: var(--second-title-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  top: 50%;
  left: 50%;
  padding: 40px;
  transform: translate(-50%, -50%);
  position: relative;
}

.modal-icon {
  min-width: 18px;
}

.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
  margin-bottom: 12px;
}

.modal-field {
  margin-bottom: 10px;
}

.input-wrap {
  position: relative;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 14px;
  padding-left: 30px;
  outline: transparent;
}
.modal-input:focus, .modal-input:hover {
  border-color: var(--accent-color);
}

.modal-text-comment {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
}
.modal-text-comment:hover, .modal-text-comment:focus {
  fill: var(--accent-color);
}
.modal-text-comment::-moz-placeholder {
  font-size: 12px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-text-comment:-ms-input-placeholder {
  font-size: 12px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-text-comment::placeholder {
  font-size: 12px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.input-label {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.input-label span,
.input-label {
  display: block;
  margin-bottom: 4px;
}

.modal-input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}
.modal-input:focus + .modal-input-icon, .modal-input:hover + .modal-input-icon {
  fill: var(--accent-color);
}

.modal-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.06em;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--second-title-color);
  width: 200px;
  height: 50px;
  margin: 0 auto;
  margin-top: 30px;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover, .modal-btn:focus {
  background: #188ce8;
}

.check-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--contacts-color);
  display: flex;
  align-items: center;
  min-width: 16px;
  min-height: 15px;
}
.check-text span {
  width: 16px;
  height: 15px;
  border: 2px solid var(--main-back-color);
  border-radius: 3px;
  margin-right: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}
.input-check:checked + .check-text span {
  background-color: var(--accent-color);
  border-color: transparent;
  fill: var(--second-title-color);
}
.input-check:focus + .check-text span {
  border-color: var(--accent-color);
}

.check-link {
  margin-left: 5px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: var(--accent-color);
}/*# sourceMappingURL=main.css.map */