.backdrop {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 0 15px;
  & * {
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.modal {
  position: absolute;
  max-width: 528px;
  min-height: 581px;
  background: var(--second-title-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  top: 50%;
  left: 50%;
  padding: 40px;
  transform: translate(-50%, -50%);
  position: relative;
}

.modal__icon {
  min-width: 18px;
}

.modal__close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
  margin: 0 auto 12px auto;
  max-width: 370px;
  @media screen and (min-width: 1200px) {
    max-width: inherit;
  }
}
.modal__field {
  margin-bottom: 10px;
}
.modal__comment {
  margin-bottom: 20px;
}

.input__wrap {
  position: relative;
}

.modal__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 14px;
  padding-left: 30px;
  outline: transparent;
  &:focus,
  &:hover {
    border-color: var(--accent-color);
  }
}

.modal__text__comment {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  &:hover,
  &:focus {
    fill: var(--accent-color);
    border-color: var(--accent-color);
    outline: none;
  }
  &::placeholder {
    font-size: 12px;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
}

.input__label {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
  display: block;
  margin-bottom: 4px;
}

.modal__input__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  .modal__input:focus + &,
  .modal__input:hover + & {
    fill: var(--accent-color);
  }
}

.modal__btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.06em;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--second-title-color);
  width: 200px;
  height: 50px;
  margin: 0 auto;
  margin-top: 30px;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background: #188ce8;
  }
}

.check__text {
  font-size: 12px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--contacts-color);
  display: flex;
  align-items: center;
  min-width: 16px;
  min-height: 15px;

  & span {
    width: 16px;
    height: 15px;
    border: 2px solid var(--main-back-color);
    border-radius: 3px;
    margin-right: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    .input__check:checked + & {
      background-color: var(--accent-color);
      border-color: transparent;
      fill: var(--second-title-color);
    }
    .input__check:hover + & {
      border-color: var(--accent-color);
    }
  }
  @media screen and (min-width: 1200px) {
    font-size: 14px;
  }
}

.check__link {
  margin-left: 5px;
  font-size: 12px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: var(--accent-color);
  @media screen and (min-width: 1200px) {
    font-size: 14px;
  }
}
