:root {
  --main-title-color: #212121;
  --second-title-color: #ffffff;
  --main-btn-color: #ffffff;
  --text-color: #000000;
  --accent-color: #2196f3;
  --contacts-color: #757575;
  --second-contacts-color: rgba(255, 255, 255, 0.6);
  --main-back-color: #2f303a;
  --second-back-color: #f5f5f5;
  --third-back-color: #f5f4fa;
  --main-header-border: #ececec;
  --second-border-color: #eeeeee;
  --main-icon-color: #afb1b8;
  --gradient: rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4);
}
